<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://182.151.22.247:3306/ajjcxx</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.chiyun.outboundplatform.entity.BasetypeEntity"/>
      <mapping class="com.chiyun.outboundplatform.entity.BatchEntity"/>
    <mapping class="com.chiyun.outboundplatform.entity.CardmessageEntity"/>
    <mapping class="com.chiyun.outboundplatform.entity.CasepeoplemessageEntity"/>
      <mapping class="com.chiyun.outboundplatform.entity.ColltypeEntity"/>
      <mapping class="com.chiyun.outboundplatform.entity.DelaylvEntity"/>
      <mapping class="com.chiyun.outboundplatform.entity.EmpmessageEntity"/>
      <mapping class="com.chiyun.outboundplatform.entity.FieldcasebaseEntity"/>
    <mapping class="com.chiyun.outboundplatform.entity.LinkmanmessageEntity"/>
    <mapping class="com.chiyun.outboundplatform.entity.LoanmessageEntity"/>
    <mapping class="com.chiyun.outboundplatform.entity.LoantypeEntity"/>
    <mapping class="com.chiyun.outboundplatform.entity.OthermessageEntity"/>
    <mapping class="com.chiyun.outboundplatform.entity.OutboundmessageEntity"/>
    <mapping class="com.chiyun.outboundplatform.entity.UsermessageEntity"/>
    <mapping class="com.chiyun.outboundplatform.entity.CardmessageEntity"/>
    <mapping class="com.chiyun.outboundplatform.entity.RemarkmsgEntity"/>
    <!--字典管理使用到的表-->
    <mapping class="com.chiyun.outboundplatform.entity.DictionaryEntity"/>
    <mapping class="com.chiyun.outboundplatform.entity.DictionarylistEntity"/>

    <!--用户和权限管理使用到的表-->
      <mapping class="com.chiyun.outboundplatform.entity.RoleEntity"/>
      <mapping class="com.chiyun.outboundplatform.entity.UserEntity"/>
    <mapping class="com.chiyun.outboundplatform.entity.CaseanduserEntity"/>
      <mapping class="com.chiyun.outboundplatform.entity.TaskEntity"/>
      <mapping class="com.chiyun.outboundplatform.entity.TaskstateEntity"/>


      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>